// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #2A6049;
$secondary : #8AC200;
$text-2    : #7D8693;
$stroke    : #D2D5E0;

$accent    : #9C27B0;
$dark      : #1D1D1D;
$light-grey: #E5E5E5;
$dark-green: #547F6D;
$positive  : #5EB229;
$negative  : #DF430E;
$info      : #9BA2FF;
$warning   : #FFA500;
$white : #FFFFFF;
$default-bg : #F1EEE9;
$brown     : #BD8C5E;
$family: 'Lato';
$heading:#352E2C;
$username: #5D5756;
$text-secondary:#9B96A0;
$textfield-options-bg:#F6F5F1;
$field-boder:#E2E0E2;
